fastapi
uvicorn[standard]
jinja2
pydantic
pydantic-settings
python-dotenv
playwright
requests
tzdata
SQLAlchemy>=2.0,<3.0
psycopg[binary]>=3.2,<4.0

# Desktop application dependencies
pywebview
pythonnet
pyinstaller
